<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<title>pizza-index</title>
</head>

<body>
	<h1 class="text-danger">pizze:</h1>
	<ul>
		<li th:each="pizza : ${pizze}" th:object="${pizza}">
			<a th:href="@{/pizze/{id}(id=*{id})}">
				[[*{nome}]] - [[*{prezzo}]] &euro;
			</a>
		</li>
	</ul>
	
		<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
</body>

</html>