<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<title>pizza-index</title>
</head>

<body class="bg-info-subtle">
	<div class="container">
		
	<h1 class="text-danger text-center display-2 fw-bold">Pizze!</h1>
	<ul class="row">
		<li class="col-6 text-center mb-3" th:each="pizza : ${pizze}" th:object="${pizza}">
			<a class="text-primary fw-bold btn btn-warning" th:href="@{/pizze/{id}(id=*{id})}">
				[[*{nome}]] - [[*{prezzo}]] &euro;
			</a>
		</li>
	</ul>
	</div>
	
		<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
</body>

</html>